td.row {
    background-color: #f0f92d;
}

td.cel {
    background-color: lightgreen;
}

td.col {
    background-color: lightblue;
}

td.col.row {
    background-color: lightgreen;
}

td.col.row0, .row0, .col0 , td.row.col0{
    background-color: lightgray
}
 
table, th, td {
    text-align: center;

    min-width: 1.8em;
    height: 1.85em;

    border: 1px solid black;
    border-collapse: collapse;
    padding: 0;
}